* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    box-shadow: 0 5px 5px rgb(247,215,215,.5);
    background : linear-gradient(to bottom, #aed4d4, white);
    display: flex;
    justify-content: space-evenly;
    padding: 1em 4em;
}

.logo img {
    width: 10em;
}

nav ul {
    list-style: none;
    padding : 1em 0 0 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    padding: 0.5em 2em;
}

nav ul a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
}

nav ul a img {
    margin-right: 8px;
}

nav ul li:nth-child(5) {
    background-color: rgb(134,84,157,0.5);
    margin: 0 0.2em;
    border-radius: 1em;
    padding: 0.5em 1.8em ;
    display: flex;
}

nav ul li:nth-child(6) {
    background-color: rgb(134,84,157);
    margin: 0 0.2em;
    border-radius: 1em;
}

.rating-icons {
    height: 20px;
    width: 20px;
    fill: #FEC710;
}

.hero-section {
    background: linear-gradient(to right, #aed4d469,#aed4d4d8);
    width: 70%;
    margin: 2em auto;
    border-radius: 8px;
    padding: 3em 2em 4em 6em;
}

.courseDetail h2 {
    color: #2a4141;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: .5em;
}

.courseDetail p {
    width: 85%;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}

.skill {
    color: #3B3B98;
    margin-top: 40px;
}

.skill span {
    display: inline-block;
    height: 60px;
    width: auto;
    overflow: hidden;
}

.skill span img {
    height: 110%;
}

.hero-section {
    display: flex;
}

.image {
    flex: 0 0 50%;
    height: 400px;
    width: 475px;
    overflow: hidden;
    border-radius: 15px;
}

.image img {
    height: 100%;
    width: 100%;
    transform: scale(1.2);
}

.course-rating {
    color: #3B3B98;
    display: flex;
    font-weight: 500;
    margin-top: 20px;
    align-items: center;
    width: 65%;
    justify-content: space-between;
}

.enroll {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.enroll a {
    background: linear-gradient(to right, #521ac2d8, rgba(94, 39, 205, 0.623));
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 42%;
    justify-content: space-around;
    font-weight: 500;
}

.ml-20{
    margin-left: 30px;
}

.course-features {
    border-radius: 8px;
    background-image: repeating-linear-gradient(to right, #521ac2d8, rgba(94, 39, 205, 1) 100%);
    width: 50%;
    margin: 0 auto;
    margin-top: -50px;
    padding: 1.2em 3em;
    display: flex;
    justify-content: space-between;
    color: white;
}

.course-features p {
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.course-features img {
    margin-right: 8px;
}